<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="API Tests">
            <directory>tests/api</directory>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>tests/feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>app/common/docs</directory>
            <file>app/common/exception/ExceptionHandle.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/coverage" lowUpperBound="50" highLowerBound="80"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>

    <php>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_ENV" value="testing"/>
        <env name="DATABASE_TYPE" value="mysql"/>
        <env name="DATABASE_HOST" value="127.0.0.1"/>
        <env name="DATABASE_PORT" value="3306"/>
        <env name="DATABASE_NAME" value="xiaomotui_test"/>
        <env name="DATABASE_USER" value="root"/>
        <env name="DATABASE_PASSWORD" value=""/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <server name="SCRIPT_NAME" value="/index.php"/>
        <server name="HTTP_HOST" value="localhost"/>
    </php>

    <logging>
        <testdoxHtml outputFile="tests/logs/testdox.html"/>
        <testdoxText outputFile="tests/logs/testdox.txt"/>
        <junit outputFile="tests/logs/junit.xml"/>
    </logging>
</phpunit>
